<!DOCTYPE html>
<html>
<head>
  <title>New bootstrap generators</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "new_bootstrap_generators/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
